<!doctype html>
<html>
	<head>
		<title>Mithril</title>
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic" rel="stylesheet" />
		<link href="lib/prism/prism.css" rel="stylesheet" />
		<link href="style.css" rel="stylesheet" />
		<link href="feed.xml" rel="alternate" title="Mithril Blog feed" type="application/atom+xml" />
	</head>
	<body>
		<header>
			<nav class="container">
				<a href="index.html" class="logo"><span>&#9675;</span> Mithril Blog</a>
				<a href="http://lhorie.github.io/mithril" >Main Site</a>
				<a href="index.html" >Articles</a>
			</nav>
		</header>
		<main>
			<section class="content">
				<div class="container">
					<div class="row">
						<div class="col(9,9,12)" style="padding-right:50px;">
							<h2 id="lessons-learned-from-angularjs">Lessons learned from AngularJS</h2>
<p><em>May 4, 2014</em></p>
<p>Some people have asked me what are the differences between <a href="http://lhorie.github.io/mithril">Mithril</a> and <a href="http://angularjs.org">Angular</a></p>
<p>I actually <a href="http://lhorie.github.io/mithril/comparison.html">wrote about some of the high-level differences here</a>.</p>
<p>You might notice that on the Angular section, I go quite a bit more in depth than some other frameworks&#39; comparisons.</p>
<p>As it turns out, I work with Angular a lot, so a lot of design decisions in Mithril come directly from my experience with it. In this article, I&#39;ll talk about some of the rationales behind Mithril&#39;s template design.</p>
<p>Angular uses what it calls <em>directives</em> to enrich HTML with functionality. Directives are essentially a mechanism that attaches functionality to DOM elements in an unobtrusive manner. Directives can be bound to elements, attributes or class names and provide a &quot;free out-of-jail card&quot; of sorts that allows developers to break out of Angular&#39;s environment and access the DOM directly. There are <a href="http://docs.angularjs.org/api/ng/directive">dozens of directives</a> that come out of the box, and it&#39;s possible to create custom ones as well.</p>
<p>Well written directives really shine as consumable APIs: they allow developers to declaratively add rich functionality to a static HTML page: you can whip up a code editor just as easily as a native HTML textarea.</p>
<p>The main problem with directives is their sheer complexity: when writing a directive, you quick stumble across things like scope isolation and <code>$scope.$apply</code>, and the complexity only goes up when you start to look into more advanced concepts like transclusions, <code>$compile</code>, the <code>ngModelController</code>, etc. And complexity goes higher still when you need to debug &quot;$digest already in progress&quot; errors, or worse, the dependency graph of your app&#39;s watcher chain. Having written my share of non-trivial directives, I can attest to the difficulty of using the directive system for extending core Angular.</p>
<p>Another problem is that the readability and maintainability of some directives tend to fall apart because they try to map procedural Javascript onto declarative HTML. This problem manifests itself in many ways: </p>
<ul>
<li><p><strong>awkward creep of Javascript logic into templates</strong></p>
<p>It&#39;s pretty common to run into scenarios like these:</p>
<pre><code class="lang-javascript">&lt;div ng-class=&quot;{&#39;text-success&#39;: item.value &gt; 50, &#39;text-danger&#39;: item.value &lt;= 50}&quot;&gt;&lt;/div&gt;
</code></pre>
<p>Some stuff is just downright <a href="https://groups.google.com/d/msg/angular/7WY_BmFzd3U/Zd_jHnMu58YJ">clunky</a>:</p>
<pre><code class="lang-markup">&lt;input ng-model=&quot;search&quot; /&gt;
&lt;table&gt;
   &lt;tr ng-repeat-start=&quot;item in (filtered = items | filter: search)&quot;&gt;
       &lt;td colspan=&quot;2&quot;&gt;...&lt;/td&gt;
       &lt;td&gt;...&lt;/td&gt;
   &lt;/tr&gt;
   &lt;tr ng-repeat-end&gt;
       &lt;td&gt;...&lt;/td&gt;
   &lt;/tr&gt;
&lt;/table&gt;
&lt;p&gt;Showing {{filtered.length}} results&lt;/p&gt;
</code></pre>
<p>I&#39;ll leave it as an exercise to the reader to look up how to do recursive templates in Angular (e.g. for tree views) for another example.</p>
</li>
<li><p><strong>lack of proper error reporting</strong></p>
<p>Angular can do a pretty decent job with expression syntax errors, but because expressions are embedded in HTML, we don&#39;t get line numbers.</p>
<p>A perhaps more serious problem is the dubious feature that makes view expressions <a href="http://jsfiddle.net/pusf3/">swallow errors altogether</a>. Angular allows this because of its aggressive rendering profile:</p>
<pre><code class="lang-javascript">function SomeCtrl($scope, someAsyncService) {
   //Angular renders once here
   $scope.greeting = &quot;Hello&quot;

   someAsyncService(function(data) {
       //and another time here
       $scope.data = data
   })
}
</code></pre>
<pre><code class="lang-markup">&lt;div&gt;{{greeting}}&lt;/div&gt;

&lt;!--the null reference exception is swallowed here so the first render doesn&#39;t break--&gt;
&lt;div&gt;There are {{data.length}} things&lt;/div&gt;
</code></pre>
<p>Another semi-related problem: this is a common debugging technique in Angular:</p>
<pre><code class="lang-markup">&lt;div ng-repeat=&quot;item in items&quot;&gt;
   ...
&lt;/div&gt;

&lt;!--let&#39;s debug the `items` variable - this prints the JSON representation of the data--&gt;
{{items}}
</code></pre>
<p>It&#39;s surprisingly common to forget to remove a debug statement and the result can be far more embarrassing than it should be.</p>
</li>
<li><p><strong>leaky abstractions</strong></p>
<p>Consider this snippet:</p>
<pre><code class="lang-markup">&lt;div&gt;{{item}}&lt;/div&gt;
...
&lt;ul ng-repeat=&quot;item in items&quot;&gt;
   &lt;li&gt;{{item}}&lt;/li&gt;
&lt;/ul&gt;
</code></pre>
<p>The variable <code>item</code> can mean different things in different places because of a programming language feature called <a href="http://en.wikipedia.org/wiki/Variable_shadowing">variable shadowing</a>.</p>
<p>But instead of using Javascript&#39;s built-in system, Angular builds its own implementation, with some weird results:</p>
<pre><code class="lang-markup">&lt;a href=&quot;&quot; ng-click=&quot;flag = true&quot;&gt;open&lt;/a&gt;

&lt;div ng-show=&quot;flag&quot;&gt;
   &lt;a href=&quot;&quot; ng-click=&quot;flag = false&quot;&gt;close&lt;/a&gt;
&lt;/div&gt;
</code></pre>
<p>Click on the <code>open</code> link, the <code>div</code> shows up. Click on <code>close</code>, it hides. Now let&#39;s say you want to use <code>ng-if</code> instead, maybe because you&#39;re finding yourself needing to use CSS nth-child selectors or as a performance optimization or whatever.</p>
<pre><code class="lang-markup">&lt;a href=&quot;&quot; ng-click=&quot;flag = true&quot;&gt;open&lt;/a&gt;

&lt;div ng-if=&quot;flag&quot;&gt;
   &lt;a href=&quot;&quot; ng-click=&quot;flag = false&quot;&gt;close&lt;/a&gt;
&lt;/div&gt;
</code></pre>
<p>Now this <a href="http://jsfiddle.net/54RXG/">doesn&#39;t work</a> as before. Considering that it is common to use the <code>ng-show</code>/<code>ng-if</code> feature when implementing lists or tables of big things with a fallback case for zero items, it&#39;s relatively easy to break completely unrelated parts of an app with a seemingly innocuous change.</p>
</li>
<li><p><strong>Performance</strong></p>
<p>Another problem related to Angular&#39;s re-implementation of scope (among other things) is the steep performance degradation when things like grids grow past a modest size. Often things look ok w/ test data, but with production-level data volume, you are sudddenly forced to discover about Angular internal concepts like watchers, dirty checking, apply cycles, etc, or you need to do massively time consuming audits of the codebase in order to figure out the feasibility of adding the ng-bindOnce plugin, or maybe you need to completely rewrite a top-level ng-repeat to use the ng-grid plugin instead.</p>
<p>It&#39;s extremely difficult to reason about Angular performance, and standard tools don&#39;t help very much.</p>
</li>
</ul>
<p>Mithril takes lessons from my Angular experience and it takes a completely different approach: <em>it maps HTML onto Javascript</em>. This means that instead of having to retrofit control flow into a declarative syntax that was never meant to support it, we simply take advantage of the standard DOM API that ships with all browsers to create and update the HTML from Javascript instead, and let Javascript do the job of the control flow, variable shadowing, recursiveness, etc. Use the right tool for the right job, etc.</p>
<p>In addition to resulting in a <em>really</em> small code footprint (~3kb gzipped), this approach allows a much higher level of expressiveness much more easily. In a <a href="http://lhorie.github.io/mithril-blog/building-a-seinfeld-app.html">previous post</a>, for instance, I showed a few examples of how simple it is to add application-focused expressiveness to a Mithril template.</p>
<pre><code class="lang-javascript">//a 7x7 grid of checkboxes where the cell for the current day is highlighted
var view = function(ctrl) {
    return m(&quot;table&quot;, seven(function(y) {
        return m(&quot;tr&quot;, seven(function(x) {
            var index = indexAt(x, y)
            return m(&quot;td&quot;, highlights(index), [
                m(&quot;input[type=checkbox]&quot;, checks(ctrl, index))
            ]);
        }));
    }));
};
</code></pre>
<p>The sample above illustrates that instead of having to use <code>repeat</code> and <code>model</code> directives and naked color hex values to make the computer do what we want, we can explicitly express that there are <code>seven</code> children in an element, that a cell <code>highlights</code> and that a checkbox <code>checks</code> - and we can implement these terms just as easily - they&#39;re just straightforward, transparent functions.</p>
<p>Because Mithril acknowledges that dynamic data binding in large systems is more procedural than declarative, we can leverage the full power of Javascript without getting tripped by <a href="http://en.wikipedia.org/wiki/Greenspun&#39;s_tenth_rule">Greenspun&#39;s tenth rule</a>, and without the need to learn framework-specific templating syntax that we&#39;ll probably not be using in 10 years.</p>
<p>But even though Mithril templates are ultimately plain Javascript, we don&#39;t necessarily need to sacrifice the familiar syntax of HTML in order to get the flexibility of Javascript: there&#39;s a nifty React-based transformer by Jonathan Buchanan <a href="https://groups.google.com/d/msg/mithriljs/lGiNpog2mbc/ThZSdgw_nucJ">that allows us to write templates with plain HTML syntax</a>.</p>
<p>We could also use Coffeescript instead, if that&#39;s your cup of, er, coffee.</p>
<p>The point is that in addition to having the refactoring power of a programming language available at no extra cost, we also get access to a wide array of tools: templates can be profiled granularly, minified, linted, unit tested <em>without the slowness of loading up PhantomJS</em>, etc. The &quot;Mithril ecosystem&quot; might still be in its infancy, but the Javascript ecosystem is huge and Mithril is ready to take advantage of it in ways that many frameworks can&#39;t even begin dreaming of.</p>
<p>Here&#39;s a cool example: we can use <a href="http://lhorie.github.io/mithril/compiling-templates.html">Sweet.js macros</a> to make existing code faster for free, or even <a href="https://github.com/mozilla/sweet.js/wiki/Example-macros">create new extensions to the language</a>, if we&#39;re bold enough. The elusive power of Lisp macros is now all of a sudden something that can actually be used in our frontend day-to-day work - without the need to <a href="http://artyom.me/learning-racket-1">learn a whole new language</a> or <a href="http://jlongster.com/Stop-Writing-JavaScript-Compilers--Make-Macros-Instead">learn about compilers</a>.</p>
<p>There are many other aspects of Mithril that are also worth mentioning. The rendering engine waits until controllers are fully done before redrawing instead of flickering incorrect states at every AJAX response. The routing system actually works with things like anchors (e.g. &quot;back to top&quot; links) and browser history lists (e.g. <code>Ctrl+H</code> in Chrome), instead of being, well, broken. The high performance is a result of a very aggressive take on the do-less-to-be-fast and the don&#39;t-reinvent-the-wheel mantras. The composability of the component system is rooted on the field of functional programming (rather than being an ad-hoc half-implementation) and thus it&#39;s mathematically sound.</p>
<p>All of these features have one thing in common: they originate from pain points from my experience with actually building non-trivial apps. Apps with fuzzy scope, top-down directed changes, ambiguous requirements, tight budgets and deadlines - you know, <em>real world</em> apps. At the end of the day, it&#39;s important for a framework to keep in mind that it doesn&#39;t exist for its own sake: rather than assuming an utopia where the developer has the luxury of deciding every aspect of an application&#39;s feature set, design and implementation, and where not-so-easy-to-implement things can be waved away with soft skills so that the developer can stay within the comfort zone of the framework, a framework must be prepared to take on the ugly reality of less than ideal workflows. </p>
<p>It&#39;s not supposed to be up to a framework to limit what I <a href="http://stackoverflow.com/questions/9682092/databinding-in-angularjs">can and cannot do</a>, and it&#39;s not supposed to be <a href="https://github.com/angular/angular.js/blob/master/CHANGELOG.md">breaking</a> high impact aspects of application space every other release.</p>
<p>These are things that you only really &quot;get&quot; if you&#39;re burned by them, and burned by them I have been. These lessons were part of every design decision and every line of code in Mithril, and are always part of the ongoing progress of the project: stability before new features, research before code (even for small-looking changes), regression tests, &quot;it-is-not-done-until-it-is-documented&quot; (and yes, things <em>do</em> get done), etc.</p>
<p>Anyways, I was only planning on talking about templating engines, but I guess things dragged on a bit. The point though is that Mithril scratches <em>a lot</em> of itches, not just in terms of just templating, or even just code: it does so for frontend application development as a whole.</p>

							
							<hr />
							
							<div id="disqus_thread"></div>
							<script type="text/javascript">
							/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
							var disqus_shortname = 'mithriljs'; // required: replace example with your forum shortname

							/* * * DON'T EDIT BELOW THIS LINE * * */
							(function() {
							var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
							dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
							(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
							})();
							</script>
							<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
							<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
						</div>
						<div class="col(3,3,12)">
							<h4>Latest Articles</h4>
							<ul>
								<li><a href="an-exercise-in-awesomeness.html">An exercise in awesomeness</a></li>
								<li><a href="getting-over-a-fear-of-turing-complete-templates.html">Getting over a fear of turing complete templates</a></li>
								<li><a href="lessons-learned-from-angular.html">Lessons learned from Angular</a></li>
								<li><a href="curry-flavored-promises.html">Curry flavored promises</a></li>
								<li><a href="better-templates-with-fp.html">Better templates with FP</a></li>
								<li><a href="building-a-seinfeld-app.html">Building a "Seinfeld" app</a></li>
							</ul>
							<hr />
							<ul><li><a href="feed.xml">RSS Feed</a></li></ul>
							<hr />
							
							<iframe src="http://ghbtns.com/github-btn.html?user=lhorie&repo=mithril.js&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
							<br /><br />
							<a href="https://twitter.com/share" class="twitter-share-button" data-via="LeoHorie">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
							<br /><br />
							<a href="http://flattr.com/thing/2778375/lhoriemithril-js-on-GitHub" target="_blank"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr" title="Flattr" border="0" /></a>
						</div>
					</div>
   
				</div>
			</section>
		</main>
		<footer>
			<div class="container">
				&copy; 2014 Leo Horie
			</div>
		</footer>
		<script src="lib/prism/prism.js"></script>
	</body>
</html>