<!doctype html>
<html>
	<head>
		<title>Mithril</title>
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic" rel="stylesheet" />
		<link href="lib/prism/prism.css" rel="stylesheet" />
		<link href="style.css" rel="stylesheet" />
		<link href="feed.xml" rel="alternate" title="Mithril Blog feed" type="application/atom+xml" />
	</head>
	<body>
		<header>
			<nav class="container">
				<a href="index.html" class="logo"><span>&#9675;</span> Mithril Blog</a>
				<a href="http://lhorie.github.io/mithril" >Main Site</a>
				<a href="index.html" >Articles</a>
			</nav>
		</header>
		<main>
			<section class="content">
				<div class="container">
					<div class="row">
						<div class="col(9,9,12)" style="padding-right:50px;">
							{DOC}
							
							<hr />
							
							<div id="disqus_thread"></div>
							<script type="text/javascript">
							/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
							var disqus_shortname = 'mithriljs'; // required: replace example with your forum shortname

							/* * * DON'T EDIT BELOW THIS LINE * * */
							(function() {
							var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
							dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
							(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
							})();
							</script>
							<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
							<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
						</div>
						<div class="col(3,3,12)">
							<h4>Latest Articles</h4>
							<ul>
								<li><a href="curry-flavored-promises.html">Curry flavored promises</a></li>
								<li><a href="better-templates-with-fp.html">Better templates with FP</a></li>
								<li><a href="building-a-seinfeld-app.html">Building a "Seinfeld" app</a></li>
							</ul>
							<hr />
							<ul><li><a href="feed.xml">RSS Feed</a></li></ul>
							<hr />
							
							<iframe src="http://ghbtns.com/github-btn.html?user=lhorie&repo=mithril.js&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
							<br /><br />
							<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://lhorie.github.io/mithril" data-via="LeoHorie">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
							<br /><br />
							<a href="http://flattr.com/thing/2778375/lhoriemithril-js-on-GitHub" target="_blank"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr" title="Flattr" border="0" /></a>
						</div>
					</div>
   
				</div>
			</section>
		</main>
		<footer>
			<div class="container">
				&copy; 2014 Leo Horie
			</div>
		</footer>
		<script src="lib/prism/prism.js"></script>
	</body>
</html>